# ignore IDE settings
.idea

# ignore compile files
target
.classpath
.project
.settings/

### test output / compile files
test-output/

# ignore system environment files
src/main/resources/properties/env.properties
