# ignore IDE settings
.idea

# ignore project files
.classpath
.project
.settings/

# ignore compile files
target
test-output/

# ignore system environment files
src/main/resources/properties/env.properties
